[submodule "text-matcher"]
	path = text-matcher
	url = https://github.com/JonathanReeve/text-matcher.git
[submodule "papers/dh2017-poster/latex-beamerposter"]
	path = papers/dh2017-poster/latex-beamerposter
	url = https://github.com/deselaers/latex-beamerposter.git
